@media (max-width: 480px) {
    
    /* Caixas em azul aonde fica o conteudo da pagina */
    .section-box{
        width: 20em !important;
    }


    /* Secao 3 - tecnologias */
    .technology-btn{
        margin: 6px !important;
    }
    .technologies-used{
        flex-wrap: wrap;
    }
    .figma-box{
        margin-right: 217px;
    }
    .links-my-projects-btn{
        display: flex;
    }


    /* Secao 5 - meus projetos */ 
    .box-last-project{
        justify-content: center;
    }
}


@media (max-width: 350px) {

    /* Caixas em azul aonde fica o conteudo da pagina */
    .section-box{
        width: 18em !important;
    }
}