@media (max-width: 480px) {
    
    /* Caixas em azul claro aonde ficam as informacoes */
    .section-box{
        width: 20em !important;
    }



    /* Secao 3 - tecnologias */
    .technology-btn{
        margin: 6px !important;
    }
    .technologies-used{
        flex-wrap: wrap;
    }
    .figma-box{
        margin-right: 186px;
    }
    .links-my-projects-btn{
        display: flex;
    }
}


@media (max-width: 350px) {
    .section-box{
        width: 18em !important;
    }
}